<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4">
      <h1>Edit Menu Item</h1>
      <%= form_tag "/menu_items/#{@menu_item.id}", method: :patch, html: { multipart: true } do %>
        <div>
          <%= label_tag :name %>
          <%= text_field_tag :name, @menu_item.name %>
        </div>
        <div>
          <%= label_tag :price %>
          <%= text_field_tag :price, @menu_item.price %>
        </div>
        <div>
          <%= label_tag :description %>
          <%= text_field_tag :description, @menu_item.description %>
        </div>
        <div>
            <%= label_tag 'Upload Menu Item Image' %><br />
            <%= file_field_tag :avatar %>
            <%= hidden_field_tag :avatar_cache %>
        </div><br/>
        <div class="field">
          <%= label_tag 'Categories' %><br />
          <%= collection_check_boxes(:menu_item, :category_ids, Category.all, :id, :name) do |c| %>
            <div class="collection-check-box">
              <%= c.check_box %>
              <%= c.label %>
            </div>
          <% end %>
        </div>
        <%= submit_tag "Update Product" %>
        <a href="/menu_items/<%= @menu_item.id %>" %>Cancel</a>
      <% end %>
    </div>
  </div>
</div>