<div class="container-fluid">
  <div class="page-header" id="header">
    <h3>CURRENT MENU ITEMS</h3>
  </div>
  <div class="row">
    <% @menu_items.each do |menu_item| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          
          <div class="caption">
            <h3><%= menu_item.name %></h3>
            <p><%= menu_item.description %></p>
            <p><%= number_to_currency(menu_item.price) %></p>
            <% if current_user && current_user.admin? %>
              <div>
                <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary" role="button">View Item</a>
                <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-default" role="button">Edit Item</a>
              </div>
            <% elsif current_user && current_user.admin == false %>
              <div class="container">
                <form action="/carted_menu_items" method="post">
                  <input type="number" name="quantity" placeholder="Quantity">
                  <input type="hidden" name="menu_item_id" value="<%= menu_item.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <input type="hidden" name="status" value="carted">
                  <br>
                  <input type="submit" class="btn btn-success" value="Add to Cart">
                </form>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="/menu_items/new"><span class="btn btn-success">+ New Item</span></a>
    </div>
  </div>
</div>
