<div class="container">
  <div class="page-header" id="header">
    <h3>Current Menu Items  <span class="fa fa-cutlery"></span></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by Category
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Select Category</li>
            <li><a href="/menu_items">All</a></li>
            <% @categories.each do |c| %>
              <li><a href="/menu_items?category_name=<%= c.name %>"><%= c.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by Price
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/menu_items?sort=price&sort_order=asc">Sort by price ascending</a></li>
            <li><a href="/menu_items?sort=price&sort_order=desc">Sort by price descending</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <% @menu_items.each do |menu_item| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          
          <div class="caption">
            <img src="<%= menu_item.avatar_url %>" id='avatar-show'>
            <h3><%= menu_item.name %></h3>
            <h5>
              Categories:
              <% menu_item.categories.each do |category| %>
                <a href="#"><%= category.name %></a>
              <% end %>
            </h5>
            <p><em><%= menu_item.description %></em></p>
            <p><strong><%= number_to_currency(menu_item.price) %></strong></p>
            <% if current_user && current_user.admin? %>
              <div>
                <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary" role="button">View Item</a>
                <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-default" role="button">Edit Item</a>
              </div>
            <% elsif current_user && current_user.admin == false %>
              <div class="container">
                <form action="/carted_menu_items" method="post">
                  <input type="number" name="quantity" placeholder="Quantity">
                  <input type="hidden" name="menu_item_id" value="<%= menu_item.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <input type="hidden" name="status" value="carted">
                  <br>
                  <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_user && current_user.admin? %>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <a href="/menu_items/new"><span class="btn btn-success">+ New Item</span></a>
      </div>
    </div>
  <% end %>
</div>
