<div class="container">
  <%= form_for(@menu_item) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <div class="field">
        <%= f.label 'Categories' %><br />
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
            <div class="collection-check-box">
                <%= c.check_box %>
                <%= c.label %>
            </div>
        <% end %>
    </div>
    <%= f.button :submit, class: 'btn btn-primary btn-small' %>
    <%= link_to 'Cancel', '/menu_items', :class => 'btn btn-default btn-small'  %>

  <% end %>
</div>