<div class="container" id="order-index">
  <h1>Order Summary</h1>
  <h3>Order #: <%= @order.id + 2435252 %></h3>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Menu Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th><bold>Item Subtotal</bold></th>
    </tr>
    <tbody>
      <% @order.carted_menu_items.each do |carted_menu_item| %>
        <tr>
          <td><%= carted_menu_item.menu_item.name %></td>
          <td><%= carted_menu_item.quantity %></td>
          <td><%= number_to_currency(carted_menu_item.menu_item.price) %></td>
          <td><%= number_to_currency(carted_menu_item.subtotal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Order Subtotal</th>
      <th>Tax</th>
      <th>Total</th>
    </tr>
    <tr class="info">
      <td>Subtotal: <%= number_to_currency(@order.subtotal) %></td>
      <td>Tax: <%= number_to_currency(@order.tax) %></td>
      <td>Total: <%= number_to_currency(@order.total) %></td>
    </tr>
  </table>
  <h4>Email: <%= @order.user.email %></h4>
</div>  