<div class="page-header" id="header">
  <h1>Shopping cart<span class="fa fa-shopping-cart"></span></h1>
</div>
<div class="container">
  <div class="row">
    <% @carted_menu_items.each do |carted_menu_item| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= carted_menu_item.menu_item.name %></h3>
            <h4>Quantity: <%= carted_menu_item.quantity %></h4>
            <h4>Item Subtotal: <%= number_to_currency(carted_menu_item.subtotal) %></h4>
            <%= link_to "Remove from cart", "/carted_menu_items/#{carted_menu_item.id}", method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_tag "/orders", method: :post do %>
      <%= submit_tag "Order NOW!", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>