<div class="page-header" id="header">
  <h1>Shopping Cart  <span class="fa fa-shopping-cart"></span></h1>
</div>
<div class="container" id="order-index">
  <h3>Current Cart</h3>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Menu Item</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Remove?</th>
    </tr>
    <tbody>
      <% @carted_menu_items.each do |carted_menu_item| %>
        <tr>
          <td><%= carted_menu_item.menu_item.name %></td>
          <td><%= carted_menu_item.quantity %></td>
          <td><%= number_to_currency(carted_menu_item.subtotal) %></td>
          <td><%= link_to "Remove from cart", "/carted_menu_items/#{carted_menu_item.id}", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Cart Subotal</th>
      <th>Cart Tax</th>
      <th>Cart Total</th>
    </tr>
    <tbody>
      <tr class="info">
        <td><%= number_to_currency(@carted_subtotal) %></td>
        <td><%= number_to_currency(@tax) %></td>
        <td style="color: #0066ff"><strong><%= number_to_currency(@carted_total) %></strong></td>
      </tr>
    </tbody>
  </table>
  <div>
    <%= form_tag "/orders", method: :post do %>
      <%= submit_tag "Order NOW!", class: 'btn btn-success' %>
    <% end %>
  </div>
  <div>
    <a href="/menu_items" class="btn btn-warning">Keep Shopping!</a>
  </div>
</div>