<h1>Checkout Page</h1>
<div class="container">
  <% @carted_menu_items.each do |carted_menu_item| %>
    <h2>Name: <%= carted_menu_item.menu_item.name %></h2>
    <h2>Quantity: <%= carted_menu_item.quantity %></h2>
    <h2>Item Subtotal: <%= carted_menu_item.subtotal %></h2>
    <%= link_to "Remove from cart", "/carted_menu_items/#{carted_menu_item.id}", method: :delete %>
  <% end %>
  <%= form_tag "/orders", method: :post do %>
    <%= submit_tag "Buy now!" %>
  <% end %>
</div>