<!DOCTYPE html>
<html>
  <head>
    <title>CHOW</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/chow_logo.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/chow_logo.png"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><p class="logo">CHOW</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about" class="navbar-text">ABOUT</a></li>
          <% if current_user && current_user.admin == false %>
            <li><a href="/menu_items" class="navbar-text">MENU</a></li>
            <li><a href="/logout" class="navbar-text">SIGN OUT</a></li>
            <li><a href="/carted_menu_items"><span class="fa fa-shopping-cart navbar-text"></span></a></li>
          <% elsif current_user && current_user.admin? %>
            <li><a href="/panel" class="navbar-text">ADMIN PANEL</a></li>
            <li><a href="/logout" class="navbar-text">SIGN OUT</a></li>
          <% else %>
            <li><a href="/login" class="navbar-text">SIGN IN</a></li>
            <li><a href="/signup" class="navbar-text">SIGN UP</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    <%= yield %>
    <!-- Footer -->
    <nav class="navbar navbar-fixed-bottom">
      <div class="container-fluid">
        <% if current_user && current_user.admin == false %>
          <p class="navbar-text navbar-left">Logged in as: <%= current_user.name %></p>
        <% elsif current_user && current_user.admin? %>
          <p class="navbar-text navbar-left">Logged in as: <%= current_user.name %></p>
        <% end %>
        <p class="navbar-text navbar-right">Created by <a href="https://ceedubs84.github.io/" class="navbar-link">Chris Woodside</a></p>
      </div>
    </nav>
  </body>
</html>
